.DS_Store
.node-version
dist/
node_modules/
yarn-error.log
.observablehq
observablehq.config.js
.editorconfig
.eslintcache
.eslintrc.js
.github/
.gitattributes
test
lib/**/*.test.js
.nyc_output
coverage
*.tgz

src/index.md
src/docs
src/observable.png